APP_NAME=RevisionHubKenya
APP_KEY=base64:E8T+JLYlLoSXu+WQzrzg0XiWNtizFYMFnANx/+0IWeY=
DEBUGBAR_ENABLED=false
APP_MODE=LIVE #LIVE or DEMO

APP_ENV=production
APP_DEBUG=false
APP_URL=https://revisionhubkenya.com

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null

LOG_LEVEL=warning
SESSION_SECURE_COOKIE=true

DB_CONNECTION=mysql
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=u518207442_revisionhubke
DB_USERNAME=u518207442_revisionhubke
DB_PASSWORD="Benja*12345"

BROADCAST_CONNECTION=log
BROADCAST_DRIVER=log
CACHE_DRIVER=file
SLOW_DATABASE_REQUEST_MS=200
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=revisionkenya254@gmail.com
MAIL_PASSWORD="vzyg oqpv hfuv sgvx"
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS="revisionkenya254@gmail.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_HOST=
PUSHER_PORT=443
PUSHER_SCHEME=https
PUSHER_APP_CLUSTER=mt1

VITE_APP_NAME="${APP_NAME}"
VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_HOST="${PUSHER_HOST}"
VITE_PUSHER_PORT="${PUSHER_PORT}"
VITE_PUSHER_SCHEME="${PUSHER_SCHEME}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"


MPESA_SANDBOX_CONSUMER_KEY=xG7vhfW80AwqBRIB2ejYBR4bkzzSE9SfG5n1GpStRDer5leD
MPESA_SANDBOX_CONSUMER_SECRET=AFCb9R6m8UfKQyKBN3kUKluxRtadbKh3mOHC7rs2cjhtRapH8bzUIIwf6eCbQCgP
MPESA_SANDBOX_SHORTCODE=174379
MPESA_SANDBOX_PARTY_B=174379
MPESA_SANDBOX_PASSKEY=bfb279f9aa9bdbcf158e97dd71a467cd2e0c893059b10f78e6b72ada1ed2c919
MPESA_SANDBOX_TRANSACTION_TYPE=CustomerPayBillOnline

MPESA_PRODUCTION_CONSUMER_KEY=DBsqGIO4614BPeCbRkBYGEPunGAd5qgU
MPESA_PRODUCTION_CONSUMER_SECRET=T75RzVoZicoZDnTV
MPESA_PRODUCTION_SHORTCODE=7448597
MPESA_PRODUCTION_PARTY_B=5450775
MPESA_PRODUCTION_PASSKEY=0eb7a95cb9df8dc496403ba992a40d237b5d082c1f7cfaae8743d135d8ccb489
MPESA_STK_PUSH_CALLBACK_URL=https://revisionhubkenya.com/api/payments/mpesa/callback
MPESA_PRODUCTION_TRANSACTION_TYPE=CustomerBuyGoodsOnline

OPENAI_VISION_MODEL=gpt-4o-mini
AI_SCANNED_PDF_MAX_PAGES=10

OPENAI_API_KEY=sk----
OPENAI_MODEL=gpt-4o-mini
OPENAI_IMAGE_MODEL=gpt-image-2
OPENAI_BASE_URL=https://api.openai.com/v1
MPESA_STK_PUSH_CALLBACK_MODE=real #mock|real



GOOGLE_CLIENT_ID=your-web-oauth-client-id.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=https://revisionhubkenya.com/auth/google/callback
